<header class="header">
    <nav class="nav nav--tours">
        <a class="nav__el" routerLink="/">All tours</a>
    </nav>
    <div class="header__logo">
       
        <div *ngIf="user;else other_content2" style="text-align: center;">
            <form class="form" id="form-signup" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <input class="form__input2" 
            id="search" type="text" 
            placeholder="search by location" 
            required="required"
            formControlName="search"
            />      
            <button class="nav__el" type="submit" style="margin-top: 10px;">search</button>    
        </form>
          </div>
          
            
          
          <ng-template #other_content2>
            <img src="../../assets/img/logo-green-round.png" alt="Tours logo" />
        </ng-template>
          
    </div>
    <nav class="nav nav--user">
        <a *ngIf="user.role==='organisateur';" class="nav__el " routerLink="tours/add">
            <p>ADD TOUR</p>
        </a>
        <a *ngIf="user;" class="nav__el nav__el--logout" (click)="onLogout()">
            <p>Log out</p>
        </a>
        <span *ngIf="user;else other_content">
           
            <a class="nav__el" href="/me">
                <img class="nav__user-img" src="../../assets/img/users/{{ user.picture}}"/>
                    <span>{{ user.name }}</span>
                    
            </a>
           
         </span>
            <ng-template #other_content>
                <a class="nav__el" routerLink="/login" >Log in</a>
                <a class="nav__el nav__el--cta" routerLink="/signup" >Sign up</a>
            </ng-template>
        </nav>
        
</header>
